# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_PROMETHEUS_PORT=15692

# Node exporter
NODE_EXPORTER_PORT=9100

# MySQL exporters
MYSQL_EXPORTER_CARDS_PORT=9104
MYSQL_EXPORTER_PASSPORT_PORT=9105

# Prometheus
PROMETHEUS_PORT=9090
